@* RouteGuard.razor component *@
@inject NavigationManager Nav
@inject INetworkStatus Network

@* <CascadingAuthenticationState>
    <Router AppAssembly="@AppAssembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@DefaultLayout">
                <NotAuthorized>
                     Här hamnar man om sidan kräver auth men user inte har 
                    <GuardNotAuthorized RouteData="@routeData" />
                </NotAuthorized>
                <Authorizing>
                    <div class="p-3 small text-muted">Kontrollerar inloggning...</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="@PublicLayout">
                <div class="p-3">
                    <h4>Hittade inte sidan</h4>
                    <a href="/">Till startsidan</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> *@

@code {
    // [Parameter, EditorRequired] public Assembly AppAssembly { get; set; } = default!;
    // [Parameter, EditorRequired] public Type DefaultLayout { get; set; } = default!;
    // [Parameter, EditorRequired] public Type PublicLayout { get; set; } = default!;
}
