@using Contista.Shared.UI.Components.Layout
@*MainLayout.razor*@

@inherits LayoutComponentBase
@inject ILocalizationService Loc
@inject NavigationManager Nav

<div class="app-root" data-bs-theme="light">
    <ErrorBoundary>
        <ChildContent>
            <LocalizationProvider>
                <div class="d-flex">
                    <main class ="container-fluid">
                        <OfflineStatusBanner Compact="true" HideWhenOnline="true" />
                        @Body
                    </main>
                </div>
            </LocalizationProvider>
        </ChildContent>

        <ErrorContent Context="ex">
            <div class="error-content">
                <h3>@Loc["Page_MainLayout_ErrorOnPage_Text"]</h3>
                <p>@ex.Message</p>
                <pre class="error-content-pre">@ex.ToString()</pre>
            </div>
        </ErrorContent>
    </ErrorBoundary>

    <div id="blazor-error-ui" data-nosnippet>
        @Loc["Page_MainLayout_UnhandledErrorOccurred_Text"]
        <a href="." class="reload">@Loc["Page_MainLayout_Reload_Text"]</a>
        <span class="dismiss">🗙</span>
    </div>
</div>

@code {
    private bool SidebarOpen;
    protected string ActivePage = "overview";

    private void ToggleSidebar() => SidebarOpen = !SidebarOpen;

    private void Navigate(string page)
    {
        ActivePage = page;
    }

}